/*color: #09BC8A;
#09bc8a8f
*/

@media (max-width: 480px){

.jsimg{
  width: 260px;
}

.reactimg{
  width: 180px;
}

.reduximg{
  width: 150px;
}

.htmlimg{
  width: 120px;
}

.cssimg{
  width: 120px;
}

.bootimg{
  width: 150px;
}

.tailimg{
  width: 150px;
}

.pyimg{
  width: 150px;
}

.djimg{
  width: 110px;
}

.mysqlimg{
  width: 120px;
}

.gitimg{
  width: 150px;
}

.githubimg{
  width: 150px;
}

.circular-chart {
  height: 250px;
}

.skills{
  grid-template-columns: repeat(1, 1fr);
}

.end-title{
  font-size: 2.4rem;
}

.resume{
  font-size: 0.8rem;
}

.all{
  font-size: 3rem;
}

.navbar{
  display: none;
}

  .explore{
    font-size: 2rem;
  }
  .title{
  font-size: 3.5rem;
}

.rex{
  font-size: 4.5rem;
}

.skills-title{
  font-size: 4.7rem;
}

.skill{
  font-size: 3rem;
}

.works-title{
  font-size: 2.4rem;
}

.coming{
  font-size: 1.7rem;
}

.works{
  grid-template-columns: repeat(1, 1fr);
}

.work{
  width: 18em;
}

.contact-title{
  font-size: 1.5rem;
}

.call{
  font-size: 2.8rem;
}

.icon{
  height: 4em;
  width: 4em;
}

.icon-info{
  font-size: 3rem;
}

}

@media (min-width: 481px) and (
  max-width: 768px){

.jsimg{
  width: 160px;
}

.reactimg{
  width: 100px;
}

.reduximg{
  width: 80px;
}

.htmlimg{
  width: 70px;
}

.cssimg{
  width: 70px;
}

.bootimg{
  width: 100px;
}

.tailimg{
  width: 100px;
}

.pyimg{
  width: 80px;
}

.djimg{
  width: 70px;
}

.mysqlimg{
  width: 80px;
}

.gitimg{
  width: 100px;
}

.githubimg{
  width: 100px;
}

.circular-chart {
  height: 150px;
}

.skills{
  grid-template-columns: repeat(2, 1fr);
}

.end-title{
  font-size: 3.5rem;
}

.resume{
  font-size: 1.1rem;
}

.all{
  font-size: 4rem;
}

  .navbar{
  display: none;
}
  .explore{
    font-size: 2rem;
  }

  .title{
  font-size: 3rem;
}

.rex{
  font-size: 5rem;
}

.skills-title{
  font-size: 5rem;
}

.skill{
  font-size: 2.5rem;
}

.works-title{
  font-size: 4rem;
}

.coming{
  font-size: 2.5rem;
}

.works{
  grid-template-columns: repeat(1, 1fr);
}

.work{
  width: 30em;
  margin: 0 5px;
}

.contact-title{
  font-size: 2rem;
}

.call{
  font-size: 3rem;
}

.icon{
  height: 5em;
  width: 5em;
}

.icon-info{
  font-size: 4rem;
}

}

@media (min-width: 769px) and (max-width: 1279px){

.jsimg{
  width: 190px;
}

.reactimg{
  width: 130px;
}

.reduximg{
  width: 100px;
}

.htmlimg{
  width: 85px;
}

.cssimg{
  width: 85px;
}

.bootimg{
  width: 120px;
}

.tailimg{
  width: 130px;
}

.pyimg{
  width: 100px;
}

.djimg{
  width: 80px;
}

.mysqlimg{
  width: 90px;
}

.gitimg{
  width: 120px;
}

.githubimg{
  width: 120px;
}

.circular-chart {
  height: 180px;
}

.skills{
  grid-template-columns: repeat(3, 1fr);
}

.end-title{
  font-size: 5rem;
}

.resume{
  font-size: 1.8rem;
}

.all{
  font-size: 6rem;
}

  .navbar{
  display: flex;
}
.explore{
    font-size: 2.5rem;
  }
  .title{
  font-size: 5rem;
}

.rex{
  font-size: 6rem;
}

.skills-title{
  font-size: 5rem;
}

.skill{
  font-size: 3rem;
}

.works-title{
  font-size: 5rem;
}

.coming{
  font-size: 3rem;
}

.works{
  grid-template-columns: repeat(2, 1fr);
}

.work{
  width: 43vw;
}

.contact-title{
  font-size: 2.8rem;
}

.call{
  font-size: 5rem;
}

.icon{
  height: 7em;
  width: 7em;
}

.icon-info{
  font-size: 6rem;
}

}

@media (min-width: 1280px){


.jsimg{
  width: 190px;
}

.reactimg{
  width: 130px;
}

.reduximg{
  width: 100px;
}

.htmlimg{
  width: 85px;
}

.cssimg{
  width: 85px;
}

.bootimg{
  width: 120px;
}

.tailimg{
  width: 130px;
}

.pyimg{
  width: 100px;
}

.djimg{
  width: 80px;
}

.mysqlimg{
  width: 90px;
}

.gitimg{
  width: 120px;
}

.githubimg{
  width: 120px;
}

.circular-chart {
  height: 180px;
}

.skills{
  grid-template-columns: repeat(4, 1fr);
}

.end-title{
  font-size: 7rem;
}

.resume{
  font-size: 2.5rem;
}

.all{
  font-size: 8rem;
}

.navbar{
  display: flex;
}
  .mousey {
  width: 5px;
  padding: 20px 20px;
}
.explore{
    font-size: 2.6rem;
  }
  .title{
  font-size: 7rem;
}

.rex{
  font-size: 8rem;
}

.skills-title{
  font-size: 8rem;
}

.skill{
  font-size: 4rem;
}

.works-title{
  font-size: 7rem;
}

.coming{
  font-size: 6rem;
}

.works{
  grid-template-columns: repeat(4, 1fr);
}

.work{
  width: 20em;
}

.contact-title{
  font-size: 5rem;
}

.call{
  font-size: 6.5rem;
}

.icon{
  height: 7em;
  width: 7em;
}

.icon-info{
  font-size: 4rem;
}

}

@media (max-width: 768px){
  .navbarbg{
    display: none;
  }
  .navbarsm{
    display: inline-block;
  }
}
@media (min-width: 769px){
  .navbarbg{
    display: flex;
  }
  .navbarsm{
    display: none;
  }
}

body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-track {
  background-color: none;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #09BC8A;
}

*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  transition: all 0.2s ease;
  text-decoration: none;
}

html, body{
  scroll-behavior: smooth;
  transition: all 0.2s ease;
  overflow-y: auto;
}

.navbarbg{
  width: 100vw;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #222222ba;
}

.navbg{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  font-size: 1.3rem;
}

.rexhubbg{
  font-size: 2rem;
}

.rexhub{
  background: -webkit-linear-gradient(45deg, rgba(9,188,138,1) 0%, rgba(0,255,188,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  cursor: pointer;
}

.menu-icon{
  position: fixed;
  right: 0;
  top: 0;
  width: 3em;
  height: 3em;
  margin: 10px;
}

.nav-itembg{
  font-weight: bolder;
  cursor: pointer;
}

.nav-itembg-resume{
  font-weight: bolder;
  background-color: whitesmoke;
  color: #111111;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
}

.green{
  background-color: #09BC8A;
  width: 50vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 299;
  transition: all 0.4s ease-in-out;

}

.nav-items{
  background-color: #222222;
  width: 50vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
  z-index: 300;
  transition: all 0.7s ease-in-out;

}

li{
 overflow: hidden; 
}

.nav-itemsm{
  cursor: pointer;
  overflow: hidden;
 font-weight: 900; 
 padding: 10px;
 border-left: none;
 transform-origin: left;
 transition: all 0.3s ease;
}

.nav-itemsm:hover{
  font-size: 2.5rem;
}

.bg{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-image: url('./assets/rexbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-body{
  margin-bottom: 200px;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explore{
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 10px 20px;
  margin-top: 20px;
  box-shadow: -5px 5px #09BC8A;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  animation: button-loader 0.8s ease-in-out;
}

.explore:hover{
 box-shadow: 0px 0px #09BC8A; 
}

.title{
  overflow: hidden;
  animation: loader 1s ease-in-out;
  font-weight: 700;
  /*font-size: 3.8rem;*/
}

.rex{
  /*font-size: 6rem;*/
  animation: loader 0.8s ease-in-out;
  background: -webkit-linear-gradient(45deg, rgba(9,188,138,1) 0%, rgba(0,255,188,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-body{
  margin-bottom: 200px;
  padding: 10px 3px;
  padding-right: 10px;
  width: 100vw;
  min-height: 100vh;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.skills-title{
  margin-bottom: 50px;
  /*font-size: 4rem;*/
  align-self: center;
}

.works-body{
  margin-bottom: 200px;
  width: 100vw;
  min-height: 100vh;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-title{
  margin: 30px 0;
  /*font-size: 3rem;*/
}

.coming{
  margin: 50px 0;
  /*font-size: 3rem;*/
}

.works{
  display: grid;
  /*grid-column: repeat(1,1fr);*/
  justify-items: center;
  width: 100vw;
  grid-gap: 30px;
  overflow: hidden;
  padding: 0 30px;
}

.work{
  overflow: hidden;
}

.work-link:hover{
  transform: scale(1.1) rotateZ(-2deg);
}

.work-link{
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.contact-body{
width: 100vw;
height: 100%;
color: whitesmoke;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
margin-bottom: 100px;
}

.contact-title{
  margin-top: 20px;
  margin-bottom: 50px;
  /*font-size: 2rem;*/
  text-align: center;

}

.call{
  /*font-size: 3rem;*/
  font-style: italic;
  color: #09BC8A;
}

.icon-body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  font-style: italic;
  overflow: hidden;
  height: 100%;
}

.info{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icon{
  margin-bottom: 10px;
  margin-right: 10px;
}

.resume{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  padding: 20px 20px;
  padding-bottom: 50px;
  text-align: center;
}

.media-info{
  margin: 0 10px;
}

.end{
  width: 100vw;
  min-height: 20vh;
  color: whitesmoke;
  text-align: center;
  padding: 40px 10px;
}

.end-title{
  font-style: italic;
}

.all{
  font-style: italic;
  color: tomato;
}

.resume-img{
  width: 400px;
  margin-top: 20px;
}

.scroll-downs {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  animation: load-scroll 0.5s ease-in-out;
}
.mousey {
  width: 3px;
  padding: 10px 10px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes load-scroll{
  0%{opacity: 0; transform: translateY(50px);}
  100%{opacity: 1; transform: translateY(0);}
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

@keyframes loader{
  0%{opacity: 0; transform: translateY(50px);}
  100%{opacity: 1; transform: translateY(0);}
}

@keyframes button-loader{
  0%{opacity: 0; transform: translateX(50px);}
  100%{opacity: 1; transform: translateX(0);}
}

@keyframes loading-line{
  from{transform: translateX(10vw);}
  to{transform: translateX(0);}
}

.skills{
  display: grid;
  justify-content: center;
  width: 100vw;
  text-align: center;
  height: 100%;
}

.skill{
  width: 100%;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
  text-align: center;
  margin: 20px 5px;
}

.chart-img{
  z-index: 3;
  position: absolute;
}

.chart{
  display: flex;
  align-items: center;
  justify-content: center;
}



.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 100%;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}